<a href="https://colab.research.google.com/github/racamadev/Python/blob/Dev/Python/Pandas/pandasEstructuras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios con Pandas

## Cargar un Diccionario

### Caso 1 - Crear un Data Frame una matriz

In [1]:
# importar la librería
import pandas as pd

# Diccionario
matriz = {
    'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]
}

# crear el Data Frame
df = pd.DataFrame(matriz)

# Imprimir el Data Frame
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

### Caso 2 - Crear un Data Frame de personas

In [10]:
# importar la librería
import pandas as pd

# declarar el diccionario
personas = {
    'Nombres': ['Dimas', 'Juan', 'Roberto'],
    'Eddades': [20, 22, 23],
    'Países': ['Costa Rica', 'Honduras', 'Brazil']
}

# crear el Data Frame
dfPersonas = pd.DataFrame(personas)

# cambiar el nombre de las claves/columnas
dfPersonas.rename({"Nombres": "nombre", "Eddades": "edad", "Países": "pais"}, axis = 1, inplace = True)

# imprimir el Data Frame
print(dfPersonas)

    nombre  edad        pais
0    Dimas    20  Costa Rica
1     Juan    22    Honduras
2  Roberto    23      Brazil

### Caso 2.1 - Agregar columnas al Data Frame

In [9]:
# Agregar una columna al Data Frame de personas

# Opción 1 - agregar una columna
dfPersonas["Profesion"] = ["Ingeniero Civil", "Desarrollador de Java", "Doctor"]

# Opción 2 - agregar una columna
dfPersonas = dfPersonas.assign(sueldo = [30e3, 20e3, 60e3])

# Opción 3 - agregar una columna
dfPersonas.insert(3, "email", ["Dimas@email", "Juan@email", "Roberto@email"])

# imprimir el Data Frame
print(dfPersonas)

    nombre  edad        pais          email              Profesion   sueldo
0    Dimas    20  Costa Rica    Dimas@email        Ingeniero Civil  30000.0
1     Juan    22    Honduras     Juan@email  Desarrollador de Java  20000.0
2  Roberto    23      Brazil  Roberto@email                 Doctor  60000.0

## Caso 3 - Búsqueda de elementos

In [9]:
# importar la librería
import pandas as pd

# declarar el diccionario
colaboradores = {
    "nombre": ["Ana", "Luisa", "Marta", "Eugenia"],
    "edad": [20, 22, 23, 25],
    "pais": ["Costa Rica", "Costa Rica", "Brazil", "Colombia"],
    "salario": [10e3, 20e3, 20e3, 40e3]
}

# crear el Data Frame
dfColaboradores = pd.DataFrame(colaboradores)

# Opción 1
condicion1 = dfColaboradores["nombre"] == "Marta"
print("Búsqueda tipo 1 +++++++++++++")
print(condicion1)
print("\n")

# Opción 2 - boolean
print("Búsqueda tipo 2 +++++++++++++")
print(dfColaboradores[dfColaboradores["nombre"] == "Eugenia"])
print("\n")

# Opción 3 - record
print("Búsqueda tipo 3 +++++++++++++\n")
condicion2 = dfColaboradores.salario.isin([20e3])
print(condicion2)
print("\n")

# Opción 4 - boolean
print("Búsqueda tipo 3.1 OR ++++++++\n")
condicion3 = dfColaboradores.nombre.isin(["Luisa"]) | dfColaboradores.nombre.isin(["Marta"])
print(condicion3)
print("\n")

# Opción 5 - boolean
print("Búsqueda tipo 3.2 AND +++++++\n")
condicion4 = dfColaboradores.nombre.isin(["Ana"]) & dfColaboradores.pais.isin(["Costa Rica"])
print(condicion4)
print("\n")

# Opción 6
print("Búsqueda tipo 4 +++++++++++++\n")
print(dfColaboradores.iloc[[0, 1], [0, 2]]) # filas 0-1, Columnas 0 (nombre), 2 (pais)
print("\n")

# Opción 7
print("Búsqueda tipo 5 +++++++++++++\n")
print(dfColaboradores.iloc[[0, 1], :]) # filas 0 y 1, todas las columnas
print("\n")

# Opción 8
print("Búsqueda tipo 6 +++++++++++++\n")
dfColaboradores.set_index("nombre", inplace=True)
print(dfColaboradores.loc[["Luisa", "Ana"], ["edad", "pais", "salario"]])

Búsqueda tipo 1 +++++++++++++
0    False
1    False
2     True
3    False
Name: nombre, dtype: bool


Búsqueda tipo 2 +++++++++++++
    nombre  edad      pais  salario
3  Eugenia    25  Colombia  40000.0


Búsqueda tipo 3 +++++++++++++

0    False
1     True
2     True
3    False
Name: salario, dtype: bool


Búsqueda tipo 3.1 OR ++++++++

0    False
1     True
2     True
3    False
Name: nombre, dtype: bool


Búsqueda tipo 3.2 AND +++++++

0     True
1    False
2    False
3    False
dtype: bool


Búsqueda tipo 4 +++++++++++++

  nombre        pais
0    Ana  Costa Rica
1  Luisa  Costa Rica


Búsqueda tipo 5 +++++++++++++

  nombre  edad        pais  salario
0    Ana    20  Costa Rica  10000.0
1  Luisa    22  Costa Rica  20000.0


Búsqueda tipo 6 +++++++++++++

        edad        pais  salario
nombre
Luisa     22  Costa Rica  20000.0
Ana       20  Costa Rica  10000.0